<form method="post" action="{{ path('editeur_delete', {'id': editeur.id}) }}" onsubmit="return confirm('Vous êtes sure de vouloir supprimer cette enregistrement?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ editeur.id) }}">
    <button class="btn">Supprimer</button>
</form>
