{% extends 'base.html.twig' %}

{% block title %}Editer Editeur{% endblock %}

{% block body %}
    <h1>Editer Editeur</h1>

    {{ include('editeur/_form.html.twig', {'button_label': 'Editer'}) }}

    <a href="{{ path('editeur_index') }}">Retour</a>

    {{ include('editeur/_delete_form.html.twig') }}
{% endblock %}
