{% extends 'base.html.twig' %}

{% block title %}Nouveau Auteur{% endblock %}

{% block body %}
    <h1>Nouveau Auteur</h1>

    {{ include('auteur/_form.html.twig') }}

    <a href="{{ path('auteur_index') }}">Retour</a>
{% endblock %}
